---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=60661&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"60661\",\n               \"short_name\"
        : \"60661\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"West Side\",\n               \"short_name\"
        : \"West Side\",\n               \"types\" : [ \"neighborhood\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Chicago\",\n
        \              \"short_name\" : \"Chicago\",\n               \"types\" : [
        \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Cook County\",\n               \"short_name\" : \"Cook County\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Illinois\",\n               \"short_name\"
        : \"IL\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Chicago, IL 60661, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 41.8890581,\n
        \                 \"lng\" : -87.63964609999999\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 41.875417,\n                  \"lng\" : -87.6485909\n
        \              }\n            },\n            \"location\" : {\n               \"lat\"
        : 41.8819283,\n               \"lng\" : -87.6445473\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 41.8890581,\n                  \"lng\" :
        -87.63964609999999\n               },\n               \"southwest\" : {\n
        \                 \"lat\" : 41.875417,\n                  \"lng\" : -87.6485909\n
        \              }\n            }\n         },\n         \"types\" : [ \"postal_code\"
        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Tue, 30 Dec 2014 17:29:46 GMT
- request:
    method: get
    uri: http://ziptasticapi.com/60661
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ! '{"country":"US","state":"IL","city":"CHICAGO"}'
  recorded_at: Tue, 30 Dec 2014 17:35:37 GMT
[...]
- request:
    method: get
    uri: http://ziptasticapi.com/94101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: US-ASCII
      string: ! '{"country":"US","state":"CA","city":"SAN FRANCISCO"}'
  recorded_at: Wed, 31 Dec 2014 11:27:06 GMT
recorded_with: VCR 2.9.3
