<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Instarent</title>

  <link rel="shortcut icon" href="assets/img/icon.png" />
  <link rel="apple-touch-icon" href="assets/img/icon.png" />
  <!-- CSS -->
  <!-- bootstrap css -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <!-- Font awesome css -->
  <link href="css/font-awesome.css" rel="stylesheet">
  <!-- Custom styles css -->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <!-- header section start -->
  <section id="header">
    <div class="container">
      <div class="row">
        <div id="logo" class="col-md-3">
          <img src="http://placehold.it/173x45">
        </div>
      </div>
    </div>
  </section>
  <!-- header section end -->

  <!-- cover section start -->
  <section id="cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Automate Apartment Hunting</h2>

          <div class="form_register text-center">
            <form action="/search" method="post" class="form-horizontal">
              <legend> What are you looking for? </legend>
                <div class="form-group">
                  <label for="email"> Email </label>
                  <input type="text" name="email" class="form-control" placeholder="Email to inform you">
                </div>

                <div class="form-group">
                  <label for="City"> City </label>
                  <select class="form-control" name="city">
                    <option>New York</option>
                    <option>San Francisco</option>
                    <option>Chicago</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="Bedroom"> Bedroom </label>
                  <select class="form-control" name="bedroom">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="max_price"> Maximum Price </label>
                  <select class="form-control" name="max_price">
                    <option>1000</option>
                    <option>1500</option>
                    <option>2000</option>
                    <option>2500</option>
                    <option>3000</option>
                    <option>5000</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>
  <!-- cover section end -->

<!-- javascript files -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>

