<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>marshallshen landing page</title>

  <link rel="shortcut icon" href="assets/img/icon.png" />
  <link rel="apple-touch-icon" href="assets/img/icon.png" />
  <!-- CSS -->
  <!-- bootstrap css -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <!-- Font awesome css -->
  <link href="assets/css/fontawesome/css/font-awesome.css" rel="stylesheet">
  <!-- Custom styles css -->
  <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <!-- header section start -->
  <section id="header">
    <div class="container">
      <div class="row">
        <div id="logo" class="col-md-3">
          <img src="http://placehold.it/173x45">
        </div>
        <div id="logbtn" class="col-md-9 text-right">
          <a href="#" class="btn btn-primary btn-lg">LOG IN</a>
        </div>
      </div>
    </div>
  </section>
  <!-- header section end -->

  <!-- cover section start -->
  <section id="cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div id="signupform">
            <a type="button" class="btn btn-facebook btn-lg btn-block"><i class="fa fa-facebook-square"></i> LOGIN WITH FACEBOOK</a>
            <p class="lead">or</p>
            <form action="#" id="contactform" name="contactform" class="row" method="post">
              <div class="form-group">
                <input id="email" class="form-control input-lg" type="email" name="email" placeholder="Your Email" required />
              </div>
              <div class="form-group">
                <input id="input_zip" class="form-control input-lg" type="text" name="input_zip" placeholder="Your password" required />
              </div>
              <button type="submit" class="btn btn-lg btn-success btn-block">LOGIN</button>
            </form>
          </div>
          <a href="#">Forgot password?</a><br>
          <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- cover section end -->

<!-- javascript files -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
</body>
</html>